<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1005254691200-hrege5s6f3auand39lcm19ungalhm000.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1005254691200-hrege5s6f3auand39lcm19ungalhm000</string>
	<key>API_KEY</key>
	<string>AIzaSyAGtD9hNOixB_Tn9nAWiWk38872qlObqXs</string>
	<key>GCM_SENDER_ID</key>
	<string>1005254691200</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.nursetodo.app</string>
	<key>PROJECT_ID</key>
	<string>nurse-todo</string>
	<key>STORAGE_BUCKET</key>
	<string>nurse-todo.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1005254691200:ios:a4357ca9c4446217009965</string>
</dict>
</plist>